.plain-text{
    height: auto;
    display: flex;
    flex-direction: column;
    // gap: 5px;
    margin-bottom: 1em;
    // background-color: green;
    p{
        padding: 0;
        margin: 0;
    }
    input{
        border: 0;
        border-bottom:1px solid #757575;
        padding:10px 10px 10px 5px    
    }
    input:focus{
        outline: none;
    }
}